@charset "UTF-8";
@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 300;
  src: local('Raleway Light'), local('Raleway-Light'), url(https://fonts.gstatic.com/s/raleway/v12/ZKwULyCG95tk6mOqHQfRBC3USBnSvpkopQaUR-2r7iU.ttf) format('truetype')
}

@font-face {
  font-family: Raleway;
  font-style: normal;
  font-weight: 700;
  src: local('Raleway Bold'), local('Raleway-Bold'), url(https://fonts.gstatic.com/s/raleway/v12/WmVKXVcOuffP_qmCpFuyzS3USBnSvpkopQaUR-2r7iU.ttf) format('truetype')
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 300;
  src: local('Roboto Light Italic'), local('Roboto-LightItalic'), url(https://fonts.gstatic.com/s/roboto/v18/7m8l7TlFO-S3VkhHuR0at102b4v3fUxqf9CZJ1qUoIA.ttf) format('truetype')
}

@font-face {
  font-family: Roboto;
  font-style: italic;
  font-weight: 700;
  src: local('Roboto Bold Italic'), local('Roboto-BoldItalic'), url(https://fonts.gstatic.com/s/roboto/v18/t6Nd4cfPRhZP44Q5QAjcC102b4v3fUxqf9CZJ1qUoIA.ttf) format('truetype')
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url(https://fonts.gstatic.com/s/roboto/v18/Pru33qjShpZSmG3z6VYwnaCWcynf_cDxXwCLxiixG1c.ttf) format('truetype')
}

@font-face {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  src: local('Roboto Bold'), local('Roboto-Bold'), url(https://fonts.gstatic.com/s/roboto/v18/97uahxiqZRoncBaCEI3aW6CWcynf_cDxXwCLxiixG1c.ttf) format('truetype')
}

@font-face {
  font-family: open_sans;
  font-style: normal;
  font-weight: 700;
  src: url(https://static-assets.strikinglycdn.com/fonts/OpenSans-Bold-webfont.1d9c7945c7bc7dd0909105119bfbc191.eot);
  src: url(https://static-assets.strikinglycdn.com/fonts/OpenSans-Bold-webfont.1d9c7945c7bc7dd0909105119bfbc191.eot?#iefix) format("embedded-opentype"), url(https://static-assets.strikinglycdn.com/fonts/OpenSans-Bold-webfont.2e90d5152ce92858b62ba053c7b9d2cb.woff) format("woff"), url(https://static-assets.strikinglycdn.com/fonts/OpenSans-Bold-webfont.76cc6be5d8a231dc012fef4bdb86f79c.ttf) format("truetype"), url(https://static-assets.strikinglycdn.com/fonts/OpenSans-Bold-webfont.93349923b5274a36ac93cb3168d09123.svg#open_sansbold) format("svg")
}

@font-face {
  font-family: open_sans;
  font-style: italic;
  font-weight: 700;
  src: url(https://static-assets.strikinglycdn.com/fonts/OpenSans-BoldItalic-webfont.6218c213bb8cf22b25710da6f3a90e48.eot);
  src: url(https://static-assets.strikinglycdn.com/fonts/OpenSans-BoldItalic-webfont.6218c213bb8cf22b25710da6f3a90e48.eot?#iefix) format("embedded-opentype"), url(https://static-assets.strikinglycdn.com/fonts/OpenSans-BoldItalic-webfont.7657144ec477cd61ac4a5d1af3fa2d28.woff) format("woff"), url(https://static-assets.strikinglycdn.com/fonts/OpenSans-BoldItalic-webfont.b6690626036a7d6824632769305b1978.ttf) format("truetype"), url(https://static-assets.strikinglycdn.com/fonts/OpenSans-BoldItalic-webfont.2b4eeeaef53b3496a5cdf82803666ed7.svg#open_sansbold_italic) format("svg")
}

@font-face {
  font-family: open_sans;
  font-style: italic;
  font-weight: 400;
  src: url(https://static-assets.strikinglycdn.com/fonts/OpenSans-Italic-webfont.43d5342998f3607bd61a8239e98b1160.eot);
  src: url(https://static-assets.strikinglycdn.com/fonts/OpenSans-Italic-webfont.43d5342998f3607bd61a8239e98b1160.eot?#iefix) format("embedded-opentype"), url(https://static-assets.strikinglycdn.com/fonts/OpenSans-Italic-webfont.f42641eed834f7b97a9499362c6c8855.woff) format("woff"), url(https://static-assets.strikinglycdn.com/fonts/OpenSans-Italic-webfont.de7ef31e6295902347c5c3643b2d82da.ttf) format("truetype"), url(https://static-assets.strikinglycdn.com/fonts/OpenSans-Italic-webfont.5b774c25787e0a52c013463c9e3c4219.svg#open_sansitalic) format("svg")
}

@font-face {
  font-family: open_sans;
  font-style: normal;
  font-weight: 300;
  src: url(https://static-assets.strikinglycdn.com/fonts/OpenSans-Light-webfont.09e00aa7622ece30a0f1e06b55f66c2a.eot);
  src: url(https://static-assets.strikinglycdn.com/fonts/OpenSans-Light-webfont.09e00aa7622ece30a0f1e06b55f66c2a.eot?#iefix) format("embedded-opentype"), url(https://static-assets.strikinglycdn.com/fonts/OpenSans-Light-webfont.45b47f3e9c7d74b80f5c6e0a3c513b23.woff) format("woff"), url(https://static-assets.strikinglycdn.com/fonts/OpenSans-Light-webfont.2e98fc3ce85f31f63010b706259cb604.ttf) format("truetype"), url(https://static-assets.strikinglycdn.com/fonts/OpenSans-Light-webfont.8f04ed9aeb2185499068d84842b95aa1.svg#open_sanslight) format("svg")
}

@font-face {
  font-family: open_sans;
  font-style: italic;
  font-weight: 300;
  src: url(https://static-assets.strikinglycdn.com/fonts/OpenSans-LightItalic-webfont.550b5fda4a27cfedb7131b1a6e85e748.eot);
  src: url(https://static-assets.strikinglycdn.com/fonts/OpenSans-LightItalic-webfont.550b5fda4a27cfedb7131b1a6e85e748.eot?#iefix) format("embedded-opentype"), url(https://static-assets.strikinglycdn.com/fonts/OpenSans-LightItalic-webfont.b553da506077488bc65289e10841d527.woff) format("woff"), url(https://static-assets.strikinglycdn.com/fonts/OpenSans-LightItalic-webfont.1d22953c479914c2f801e08de666b0e8.ttf) format("truetype"), url(https://static-assets.strikinglycdn.com/fonts/OpenSans-LightItalic-webfont.fd6dd5fa10c5a74f0a767eeb695342f1.svg#open_sanslight_italic) format("svg")
}

@font-face {
  font-family: open_sans;
  font-style: normal;
  font-weight: 400;
  src: url(https://static-assets.strikinglycdn.com/fonts/OpenSans-Regular-webfont.c4d82460ef260eb1589e73528cbfb257.eot);
  src: url(https://static-assets.strikinglycdn.com/fonts/OpenSans-Regular-webfont.c4d82460ef260eb1589e73528cbfb257.eot?#iefix) format("embedded-opentype"), url(https://static-assets.strikinglycdn.com/fonts/OpenSans-Regular-webfont.79515ad0788973c533405f7012dfeccd.woff) format("woff"), url(https://static-assets.strikinglycdn.com/fonts/OpenSans-Regular-webfont.488d5cc145299ba07b75495100419ee6.ttf) format("truetype"), url(https://static-assets.strikinglycdn.com/fonts/OpenSans-Regular-webfont.8185eb3059c46e4169ce107dfcf85950.svg#open_sansregular) format("svg")
}

@font-face {
  font-family: open_sans;
  font-style: normal;
  font-weight: 600;
  src: url(https://static-assets.strikinglycdn.com/fonts/OpenSans-Semibold-webfont.f28eb362fb6afe946d822ee5451c2146.eot);
  src: url(https://static-assets.strikinglycdn.com/fonts/OpenSans-Semibold-webfont.f28eb362fb6afe946d822ee5451c2146.eot?#iefix) format("embedded-opentype"), url(https://static-assets.strikinglycdn.com/fonts/OpenSans-Semibold-webfont.697574b47bcfdd2c45e3e63c7380dd67.woff) format("woff"), url(https://static-assets.strikinglycdn.com/fonts/OpenSans-Semibold-webfont.b32acea6fd3c228b5059042c7ad21c55.ttf) format("truetype"), url(https://static-assets.strikinglycdn.com/fonts/OpenSans-Semibold-webfont.3f6b1eed8a0832d6f316fc26526348a8.svg#open_sanssemibold) format("svg")
}

@font-face {
  font-family: open_sans;
  font-style: italic;
  font-weight: 600;
  src: url(https://static-assets.strikinglycdn.com/fonts/OpenSans-SemiboldItalic-webfont.70bafcaaadad9e17b9c7784abbc6b1c2.eot);
  src: url(https://static-assets.strikinglycdn.com/fonts/OpenSans-SemiboldItalic-webfont.70bafcaaadad9e17b9c7784abbc6b1c2.eot?#iefix) format("embedded-opentype"), url(https://static-assets.strikinglycdn.com/fonts/OpenSans-SemiboldItalic-webfont.719f7321a8366f4ee609737026432113.woff) format("woff"), url(https://static-assets.strikinglycdn.com/fonts/OpenSans-SemiboldItalic-webfont.64f886b232962979e2eaf29d93108286.ttf) format("truetype"), url(https://static-assets.strikinglycdn.com/fonts/OpenSans-SemiboldItalic-webfont.70eb93d7ba2ad241180085a9a74b0b95.svg#open_sanssemibold_italic) format("svg")
}

@font-face {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  src: url(https://static-assets.strikinglycdn.com/fonts/fontawesome-webfont.32400f4e08932a94d8bfd2422702c446.eot);
  src: url(https://static-assets.strikinglycdn.com/fonts/fontawesome-webfont.32400f4e08932a94d8bfd2422702c446.eot?#iefix&v=4.5.0) format("embedded-opentype"), url(https://static-assets.strikinglycdn.com/fonts/fontawesome-webfont.db812d8a70a4e88e888744c1c9a27e89.woff2) format("woff2"), url(https://static-assets.strikinglycdn.com/fonts/fontawesome-webfont.a35720c2fed2c7f043bc7e4ffb45e073.woff) format("woff"), url(https://static-assets.strikinglycdn.com/fonts/fontawesome-webfont.a3de2170e4e9df77161ea5d3f31b2668.ttf) format("truetype"), url(https://static-assets.strikinglycdn.com/fonts/fontawesome-webfont.f775f9cca88e21d45bebe185b27c0e5b.svg#fontawesomeregular) format("svg")
}

@font-face {
  font-family: entypo;
  font-style: normal;
  font-weight: 400;
  src: url(https://static-assets.strikinglycdn.com/fonts/entypo-fontello.d0357bfa224a314326f33b2840c79879.eot);
  src: url(https://static-assets.strikinglycdn.com/fonts/entypo-fontello.d0357bfa224a314326f33b2840c79879.eot) format("embedded-opentype"), url(https://static-assets.strikinglycdn.com/fonts/entypo-fontello.56c0334a3129bf39b25e0d4e67fcf233.woff) format("woff"), url(https://static-assets.strikinglycdn.com/fonts/entypo-fontello.dfaf21d0ca7ba2de51bcab7792332f02.ttf) format("truetype")
}

.s-common-button {
  background: #eee;
  padding: 10px 20px;
  word-break: break-word;
  zoom: 1
}

.s-section.s-new-title-section .s-common-button {
  text-align: center
}

.s-common-button {
  text-align: center
}

.s-common-button {
  border-radius: 100px;
  display: inline-block;
  margin: 0 auto;
  padding: 20px 85px;
  text-decoration: none;
  text-transform: uppercase
}

.s-common-button {
  font-family: Raleway, sans-serif;
  font-size: 18px
}

.s-new-title-section .s-common-button {
  font-size: 22px
}

@media only screen and (max-width:875px) {
  .s-common-button {
    padding: 20px 50px
  }
  .s-section {
    padding: 70px 0
  }
  .s-section .s-title-group {
    margin-bottom: 70px;
    text-align: center
  }
  .s-section .container h4 {
    font-size: 21px
  }
}

.s-variation-default .s-common-button {
  background-color: #57bcdb;
  color: #fff
}

body,
html {
  margin: 0;
  padding: 0
}

a,
h1,
h2,
h4,
img,
li,
p,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: 400;
  font-style: normal;
  font-size: 100%;
  line-height: 1;
  font-family: inherit
}

ul {
  list-style: none
}

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic
}

a {
  text-decoration: none
}

html {
  font-size: 14px;
  line-height: 1
}

.ib {
  display: inline-block;
  zoom: 1
}

.hidden {
  display: none
}

body {
  -webkit-animation-delay: .1s;
  -webkit-animation-duration: .1s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-name: fontfix;
  -webkit-animation-timing-function: linear
}

.container:after {
  clear: both;
  content: " ";
  display: block;
  height: 0;
  visibility: hidden
}

#strikingly-tooltip-container {
  font-family: open_sans, Open Sans, sans-serif;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 10000
}

::-webkit-input-placeholder {
  color: #aaa;
  font-size: 14px;
  font-weight: 400
}

:-moz-placeholder {
  color: #aaa;
  font-size: 14px;
  font-weight: 400
}

::-moz-placeholder {
  color: #aaa;
  font-size: 14px;
  font-weight: 400
}

::-ms-input-placeholder {
  color: #aaa;
  font-size: 14px;
  font-weight: 400
}

::input-placeholder {
  color: #aaa;
  font-size: 14px;
  font-weight: 400
}

.fa {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font: 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto
}

.fa-comment:before {
  content: "\F075"
}

.fa-phone:before {
  content: "\F095"
}

[class*=" entypo-"]:before {
  display: inline-block;
  font-family: entypo;
  font-style: normal;
  font-variant: normal;
  font-weight: 400;
  line-height: 1em;
  speak: none;
  text-align: center;
  text-decoration: inherit;
  text-transform: none;
  width: 1em
}

.entypo-mail:before {
  content: "\E919"
}

.entypo-mobile:before {
  content: "\E8A4"
}

ul.slides li.slide {
  outline: 0;
  position: relative
}

.section-anchor {
  left: 0;
  position: absolute;
  top: 0
}

#s-content {
  font-size: 16px;
  margin-left: 0;
  min-height: 100vh;
  overflow: hidden;
  position: relative
}

#s-content h1 {
  font-size: 45px
}

#s-content h4 {
  font-size: 20px
}

#s-content h1,
#s-content h2,
#s-content h4 {
  font-weight: inherit;
  line-height: inherit
}

@media only screen and (max-width:479px) {
  #s-content h1 {
    font-size: 36px
  }
  #s-content h2 {
    font-size: 24px
  }
  #s-content h4 {
    font-size: 16px
  }
}

.s-text .s-component-content {
  word-wrap: break-word
}

.s-text .s-component-content div,
.s-text .s-component-content p {
  line-height: inherit
}

.s-image,
.s-media {
  min-height: 1px
}

.s-image img,
.s-media img {
  max-width: 100%;
  vertical-align: middle
}

.s-ratio-box {
  margin: 0 auto;
  position: relative
}

.s-ratio-box img {
  display: block;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%
}

.s-ratio-box .lazyload {
  opacity: 0
}

.mobile-actions,
.navbar-drawer,
.navbar-drawer-bar {
  display: none
}

.navbar-drawer-bar {
  background-color: transparent;
  box-sizing: border-box;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1010
}

.navbar-drawer-bar a {
  background: hsla(0, 0%, 45%, .9);
  border-radius: 3px;
  color: #fff;
  display: block;
  height: 40px;
  line-height: 40px;
  outline-style: none;
  position: relative;
  text-align: center;
  width: 40px;
  z-index: 1020
}

.navbar-drawer-bar a .entypo {
  display: inline-block;
  font-size: 18px;
  zoom: 1
}

.navbar-drawer-bar a.navbar {
  float: left
}

.navbar-drawer-bar a.mobile {
  float: right;
  line-height: 40px
}

.navbar-drawer-bar a.mobile .entypo {
  margin: 0 auto;
  text-shadow: none
}

.navbar-drawer-bar .mobile,
.navbar-drawer-bar .navbar {
  background: #888;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, .3);
  color: #fff
}

.navbar-drawer-bar .navbar {
  line-height: 48px
}

.navbar-drawer-bar .navbar .navbar-icons {
  -webkit-transform: rotate(0);
  display: inline-block;
  height: 17.3px;
  position: relative;
  transform: rotate(0);
  width: 22px
}

.navbar-drawer-bar .navbar .navbar-icons span {
  -webkit-transform: rotate(0);
  background-color: #fff;
  border-radius: 2px;
  display: block;
  height: 2px;
  left: 0;
  opacity: 1;
  position: absolute;
  transform: rotate(0);
  width: 100%
}

.navbar-drawer-bar .navbar .navbar-icons span:first-child {
  -webkit-transform-origin: left center;
  top: 0;
  transform-origin: left center
}

.navbar-drawer-bar .navbar .navbar-icons span:nth-child(2) {
  -webkit-transform-origin: left center;
  top: 6px;
  transform-origin: left center
}

.navbar-drawer-bar .navbar .navbar-icons span:nth-child(3) {
  -webkit-transform-origin: left center;
  top: 12px;
  transform-origin: left center
}

.navbar-drawer-bar .mobile-cart-icon {
  float: right;
  margin-left: 10px
}

.navbar-drawer-bar .drawer-container {
  height: 40px;
  padding: 10px;
  position: relative;
  text-align: center
}

.strikingly-drawer {
  background: #fff;
  display: none;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1002
}

.strikingly-drawer.navbar-drawer {
  -webkit-transform: translateY(-100%);
  max-height: 100vh;
  max-height: 100%;
  transform: translateY(-100%)
}

.strikingly-drawer ul {
  -webkit-overflow-scrolling: touch;
  list-style: none;
  overflow: auto;
  padding-top: 44px;
  position: relative
}

.strikingly-drawer ul li {
  display: block;
  padding: 0 24px;
  position: relative;
  z-index: 1015
}

.strikingly-drawer ul li a {
  border-bottom: 1px solid #eee;
  color: #666;
  display: block;
  font-size: 16px;
  font-weight: 300;
  padding: 15px 30px
}

.s-category-drawer-wrapper {
  display: none
}

@media only screen and (max-width:727px) {
  .s-nav {
    display: none
  }
  .s-category-drawer-wrapper {
    display: block
  }
}

#navbar-drawer-mask {
  background-color: rgba(0, 0, 0, .4);
  bottom: 0;
  display: none;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1001
}

.mobile-actions {
  -webkit-overflow-scrolling: touch;
  display: none;
  height: 172px;
  opacity: 0;
  position: fixed;
  right: 7px;
  top: -170px;
  z-index: 999
}

.mobile-actions li {
  margin: 5px
}

.mobile-actions li a {
  background: hsla(0, 0%, 45%, .9);
  border-radius: 3px;
  color: #fff;
  display: block;
  height: 40px;
  line-height: 40px;
  position: relative;
  text-align: center;
  width: 40px;
  z-index: 1020
}

.mobile-actions li a .entypo,
.mobile-actions li a .fa {
  display: inline-block;
  font-size: 18px;
  zoom: 1
}

@media only screen and (max-width:727px) {
  .mobile-actions,
  .navbar-drawer-bar,
  .strikingly-drawer {
    display: block
  }
}

.s-ecommerce-shopping-cart-wrapper {
  display: none
}

.s-ecommerce-nav-shopping-cart-wrapper.hidden {
  display: none!important
}

.fixed-login-container {
  display: none
}

@media screen and (min-width:728px) {
  .fixed-login-container {
    display: block;
    position: fixed;
    right: 150px;
    top: 10px;
    z-index: 110
  }
  .s-section.s-slider-section .right .cta-button-wrapper,
  .s-section.s-slider-section .right .s-title-group {
    text-align: left
  }
}

@media screen and (max-width:727px) {
  #loginContainer,
  .fixed-login-container {
    display: none
  }
  .s-section.s-slider-section .s-component.s-media {
    margin: 0 auto 15px;
    max-width: 80%
  }
}

#loginContainer {
  display: inline;
  white-space: nowrap
}

.s-ecommerce-shopping-cart-wrapper.no-cart+.fixed-login-container {
  right: 10px
}

.s-bg-overlay {
  position: relative
}

.s-bg-overlay:before {
  -webkit-transform: translateZ(0);
  background: rgba(0, 0, 0, .39);
  content: "";
  display: block!important;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  transform: translateZ(0);
  width: 100%
}

.s-section {
  color: #555;
  padding: 80px 0
}

.s-section,
.s-section .s-component.s-text .s-component-content,
.s-section .s-component.s-text .s-component-content div,
.s-section .s-component.s-text .s-component-content p {
  line-height: 1.45
}

.s-section.s-bg-light-text {
  color: #fff
}

.s-section.s-bg-light-text .s-subtitle,
.s-section.s-bg-light-text .s-title {
  color: #fff
}

@media only screen and (max-width:727px) {
  .s-section {
    padding: 40px 0
  }
}

.s-section .s-title-group {
  margin-bottom: 30px;
  position: relative
}

.s-section .s-title-group.s-only-title-group {
  margin-bottom: 0
}

.s-section .s-title-group .s-title {
  line-height: 1.2;
  margin-bottom: 15px
}

.s-section .s-title-group .s-title .s-component.s-text .s-component-content,
.s-section .s-title-group .s-title .s-component.s-text .s-component-content p {
  line-height: 1.2
}

.s-section .s-title-group .s-subtitle {
  margin-bottom: 10px
}

.s-section.s-new-title-section .s-media {
  margin-bottom: 30px
}

@media only screen and (min-width:728px) {
  .s-section .s-rva {
    display: -webkit-flex;
    display: flex
  }
  .s-section .s-rva.right {
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse
  }
  .s-section .s-rva .s-rva-text {
    -webkit-align-self: center;
    align-self: center;
    margin-bottom: 10px
  }
}

.container {
  margin: 0 auto;
  padding: 0;
  position: relative;
  width: 1088px
}

.container .columns {
  display: inline;
  float: left;
  margin-left: 12px;
  margin-right: 12px
}

.container .columns.right {
  float: right
}

.container .columns .half-offset-right {
  padding-right: 22px
}

.container .eight.columns {
  width: 520px
}

.container .sixteen.columns {
  width: 1064px
}

@media only screen and (min-width:1000px) and (max-width:1299px) {
  .container {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 944px
  }
  .container .columns {
    display: inline;
    float: left;
    margin-left: 11px;
    margin-right: 11px
  }
  .container .columns.right {
    float: right
  }
  .container .columns .half-offset-right {
    padding-right: 18.5px
  }
  .container .eight.columns {
    width: 450px
  }
  .container .sixteen.columns {
    width: 922px
  }
}

@media only screen and (min-width:876px) and (max-width:999px) {
  .container {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 832px
  }
  .container .columns {
    display: inline;
    float: left;
    margin-left: 10px;
    margin-right: 10px
  }
  .container .columns.right {
    float: right
  }
  .container .columns .half-offset-right {
    padding-right: 16px
  }
  .container .eight.columns {
    width: 396px
  }
  .container .sixteen.columns {
    width: 812px
  }
}

@media only screen and (min-width:728px) and (max-width:875px) {
  .container {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 656px
  }
  .container .columns {
    display: inline;
    float: left;
    margin-left: 7px;
    margin-right: 7px
  }
  .container .columns.right {
    float: right
  }
  .container .columns .half-offset-right {
    padding-right: 13.5px
  }
  .container .eight.columns {
    width: 314px
  }
  .container .sixteen.columns {
    width: 642px
  }
}

@media only screen and (min-width:490px) and (max-width:727px) {
  .container {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 456px
  }
  .container .columns,
  .container .eight.columns,
  .container .sixteen.columns {
    margin-left: 8px;
    margin-right: 8px;
    width: 440px
  }
  .container .columns .half-offset-right,
  .container .eight.columns .half-offset-right {
    padding: 0
  }
}

@media only screen and (min-width:430px) and (max-width:489px) {
  .container {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 396px
  }
  .container .columns,
  .container .eight.columns,
  .container .sixteen.columns {
    margin-left: 8px;
    margin-right: 8px;
    width: 380px
  }
  .container .columns .half-offset-right,
  .container .eight.columns .half-offset-right {
    padding: 0
  }
}

@media only screen and (min-width:370px) and (max-width:429px) {
  .container {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 336px
  }
  .container .columns,
  .container .eight.columns,
  .container .sixteen.columns {
    margin-left: 8px;
    margin-right: 8px;
    width: 320px
  }
  .container .columns .half-offset-right,
  .container .eight.columns .half-offset-right {
    padding: 0
  }
}

@media only screen and (min-width:350px) and (max-width:369px) {
  .container {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 316px
  }
  .container .columns,
  .container .eight.columns,
  .container .sixteen.columns {
    margin-left: 8px;
    margin-right: 8px;
    width: 300px
  }
  .container .columns .half-offset-right,
  .container .eight.columns .half-offset-right {
    padding: 0
  }
}

@media only screen and (max-width:349px) {
  .container {
    margin: 0 auto;
    padding: 0;
    position: relative;
    width: 296px
  }
  .container .columns,
  .container .eight.columns,
  .container .sixteen.columns {
    margin-left: 8px;
    margin-right: 8px;
    width: 280px
  }
  .container .columns .half-offset-right,
  .container .eight.columns .half-offset-right {
    padding: 0
  }
}

.iosslider .slider .inner {
  -webkit-align-items: center;
  -webkit-transform: translateZ(0);
  align-items: center;
  display: -webkit-flex;
  display: flex;
  position: relative;
  transform: translateZ(0)
}

@media only screen and (max-width:550px) {
  .iosslider .slider .inner {
    -webkit-flex-direction: column;
    flex-direction: column
  }
}

.iosslider .slider .item {
  -webkit-align-items: center;
  -webkit-justify-content: center;
  align-items: center;
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  min-height: 440px;
  overflow: hidden;
  position: relative
}

.iosslider .slider .inner {
  padding: 80px 0
}

@media only screen and (max-width:839px) {
  .iosslider .slider .inner {
    padding: 50px 0 70px
  }
}

.slick-slide {
  display: none;
  float: left;
  height: 100%;
  min-height: 1px
}

.s-section.s-slider-section .s-media {
  text-align: center
}

.s-section.s-new-title-section {
  text-align: center
}

.s-title-group {
  text-align: center
}

.s-font-title {
  font-family: Raleway, sans-serif;
  font-weight: 300
}

.s-font-heading {
  font-family: Raleway, sans-serif;
  font-weight: 300
}

.s-font-body {
  font-family: Raleway, sans-serif;
  font-weight: 300
}

#s-nav {
  width: 100%
}

#s-nav .logo {
  height: 30px;
  top: 6px
}

#s-nav .s-image .s-component-content img {
  height: 30px
}

#s-nav .logo {
  left: 10px;
  margin-left: 0;
  position: fixed
}

#s-nav.fixed {
  position: fixed;
  top: 0;
  z-index: 210
}

#s-nav ul {
  padding: 0 15px;
  text-align: center
}

#s-nav li {
  display: inline-block;
  zoom: 1
}

#s-nav li a {
  color: #fff;
  display: block;
  font-size: 15px;
  padding: 13px 10px
}

#s-nav li a.selected {
  background-color: #57bcdb
}

#s-content {
  font-size: 18px
}

#s-content h1 {
  font-size: 42px
}

#s-content h2 {
  font-size: 36px
}

#s-content h4 {
  font-size: 22px
}

@media only screen and (max-width:479px) {
  #s-content {
    font-size: 16px
  }
  #s-content h1 {
    font-size: 36px
  }
  #s-content h2 {
    font-size: 32px
  }
  #s-content h4 {
    font-size: 18px
  }
}

.s-section {
  padding: 90px 0
}

.s-section .s-title-group {
  margin-bottom: 20px
}

.s-section .s-subtitle {
  color: #848888
}

#s-content:not(.s-no-flex) .slide.s-first-visible-section .s-section:not(.s-slider-section):not(.s-grid-section) {
  -webkit-align-items: center;
  align-items: center;
  box-sizing: border-box;
  display: -webkit-flex;
  display: flex;
  min-height: 100vh
}

.s-slider-section .container .slider-desc {
  display: inline-block;
  zoom: 1
}

@media only screen and (max-width:727px) {
  .iosslider .slider .inner .cta-button-wrapper {
    text-align: center
  }
  .iosslider .slider .item {
    min-height: 180px
  }
  .s-slider-section .container .media-outer {
    float: none
  }
  .s-slider-section .container .slider-desc {
    float: none;
    margin-bottom: 0!important;
    margin-top: 0!important;
    text-align: center
  }
  .s-slider-section .container .slider-desc .half-offset-right {
    padding-right: 0
  }
}

.s-slider-section .container .media-wrapper {
  margin-bottom: 0
}

@media only screen and (max-width:875px) {
  .s-section {
    padding: 70px 0
  }
  .s-section .s-title-group {
    margin-bottom: 70px;
    text-align: center
  }
  .s-section .container h4 {
    font-size: 21px
  }
}

@media only screen and (max-width:727px) {
  .s-slider-section .container .media-wrapper {
    margin-bottom: 22px
  }
  #s-nav {
    display: none
  }
  .s-section .s-title-group {
    margin-bottom: 45px
  }
  .s-section {
    padding: 65px 0
  }
  .s-section.s-slider-section .item .inner .container {
    margin-top: 0!important
  }
  .s-variation-default .navbar-drawer-bar {
    background-image: none
  }
  .s-variation-default .mobile-actions li a {
    background: #e8e8e8;
    border: none;
    box-shadow: none;
    color: #57bcdb;
    text-shadow: none
  }
  .s-variation-default .mobile-actions li a .entypo,
  .s-variation-default .mobile-actions li a .fa,
  .s-variation-default .navbar-drawer-bar a .entypo {
    text-shadow: none
  }
  .s-variation-default .navbar-drawer-bar .mobile,
  .s-variation-default .navbar-drawer-bar .navbar {
    background-color: #57bcdb
  }
}

@media only screen and (max-width:499px) {
  #s-nav {
    display: none
  }
  .s-section .s-title-group {
    margin-bottom: 35px
  }
}

.s-section {
  background-color: #fff
}

#s-nav ul {
  background-color: rgba(33, 44, 55, .7);
  color: #eee
}

.s-variation-default #s-nav li a.selected {
  background-color: #57bcdb
}

#s-content.s-font-body-roboto .s-font-body {
  font-family: roboto, helvetica, sans-serif
}

#s-content.s-font-title-raleway .s-font-title {
  font-family: raleway, helvetica, sans-serif
}

#s-content.s-font-heading-roboto .s-font-heading {
  font-family: roboto, helvetica, sans-serif
}
